@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-card {
  perspective: 1000px;
  transform-style: preserve-3d;
}

/* 卡片 hover 放大效果 */
.flip-card:hover .flip-card-inner {
  transform: scale(1.05);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform-origin: center;   /* 旋轉基於中心點 */
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  width: 30%;  /* 初始較小 */
}

.flip-card-back {
  transform: rotateY(180deg) ;
}

.card-stack {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.manual-card {
  position: absolute;
  width: 100%; 
  height: 250px;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}


/* 抽卡位置 */
.manual-card:nth-child(1) {
  transform: translate(0%, 0%);
}
.manual-card:nth-child(2) {
  transform: translate(17%, 0%);
}
.manual-card:nth-child(3) {
  transform: translate(34%, 0%);
}
.manual-card:nth-child(4) {
  transform: translate(51%, 0%);
}
.manual-card:nth-child(5) {
  transform: translate(70%, 0%);
}

/* 當卡片被翻轉後，校正位移 */
.manual-card.flipped:nth-child(1) {
  transform: translate(0%, 0%);
}
.manual-card.flipped:nth-child(2) {
  transform: translate(0%, 0%);
}
.manual-card.flipped:nth-child(3) {
  transform: translate(0%, 0%);
}
.manual-card.flipped:nth-child(4) {
  transform: translate(0%, 0%);
}
.manual-card.flipped:nth-child(5) {
  transform: translate(0%, 0%);
}


/* 當卡片被選中時，讓其他卡片淡出 */
.manual-card.fading {
  opacity: 0;
  pointer-events: none;
}

.selected-card-container {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.selected-card-container.visible {
  opacity: 1;
}
